.services {
    margin: 8vw 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

}


.services .services-title {
    position: relative;
    cursor: pointer;
}


.services-title h1 {
    padding:20px 30px 0;
    font-size: 2rem;
    font-weight: 600;
}


.services-title img {
    position: absolute;
    width:80px;
    height:70px;
    top: 0;
    right: 0;
    z-index: -1;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 80px;
}

.services-format {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 15px;
    border-radius: 15%;
    padding: 18px 26px;
    border: 2px solid white;
    transition: .5s;

}


.services-format:hover {
    border: 2px solid #ff00ff;
    background: linear-gradient(45deg, #94005e, #9c3e00);
    transform: scale(.9);
}

.services-format h3 {
    font-size: 1rem;
    font-weight: 400;
}

.services-format h2 {
    font-size: 1rem;
    font-weight: 600;
    background: -webkit-linear-gradient(16deg, yellow, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p {
    color: #d4d4d4;
    font-size: 1rem;
    line-height: 20px;
    max-width: 300px;
}

.services-readmore {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.services-format .desc {
    overflow: hidden;
    line-height: 1.4rem;
}

.services-readmore img{
    width:20px;
    height:20px;
}

@media (max-width:768px) {
    .services {
        align-items: start;
        gap: 70px;

    }

    .services-title h1 {
        padding: 0;
        font-size: 2rem;
    }

    .services-title img {
        width: 100px;
        margin-right: -20px;
    }


    .services-format {
        gap: .4rem;
        padding: 1.5rem;

    }

    .services-readmore img {
        width: 1rem;

    }



    .services-format h2 {
        font-size: 1rem;


    }

    .services-format p {
        font-size: 1rem;
        line-height: 1.6rem;
        max-width: 20vw;
        max-height: 10vh;


    }

    .services-format .desc {
        overflow: hidden;
        line-height: 1rem;
    }


    .services-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }







}