.about {
    margin: 9vw 10vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    

}


.about .about-title {
    position: relative;

}

.about-title h1 {
    cursor: pointer;
    padding: 20px 30px 0;
    font-size: 2rem;
    font-weight: 600;
}

.about-title img {
    width:80px;
    height:70px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}


.about-sections {
    display: flex;
    gap: 40px;
}


.about-right {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.about-left img {
    display: flex;
    max-width: 20vw;
    max-height: 40vh;
    transition: .2s;
    margin-top: 50px;

}

.about-left img:hover {
    transform: scale(0.9);
}


.about-para {
    line-height: 25px;
    font-size: 1rem;
    font-weight: 400;
}




.about-skills {
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: .5s;

}

.about-skill p {
    min-width: 150px;
    font-size: .8rem;
    font-weight: 400;
}


.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 4px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df4c08 -5.09%, #8cf1e4 106.28%);
  
      
}

.about-skill:hover {
    transform: scale(.9);
}


.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 1.5vw 0;


}

.about-achievement {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    
}


.about-achievement h1 {
    font-size: 1.2rem;
    font-weight: 500;
    background: -webkit-linear-gradient(270deg, yellow 50.41%, green 90.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about-achievement p {
    font-size: .8rem;
    font-weight: 400;
}



.about-achievement:hover {
    transform: scale(.9);
}

@media (max-width:768px) {
    .about {
        gap: 80px;
        margin: 50px 60px;
        align-items: start;

    }

    .about-title h1 {
        font-size: 2rem;
        padding: 0;
    }

    .about-title img {
        width: 100px;
        right: -20px;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 18px;
        line-height: 20px;

    }


    .about-skill {
        gap: 20px;
        align-items: center;
    }

    .about-skill p {
        font-size: 20px;


    }


    .about-skill hr {
        height: 6px;

    }

    .about-achievements {
        justify-content: space-between;

    }


    .about-achievement {
        gap: 10px;
    }

    .about-achievement h1 {
        font-size: 34px;
        font-weight: 700;

    }

    .about-achievement p {
        font-size: 14px;
        text-align: center;
    }







}