.footer {
    display: flex;
    flex-direction: column;
    margin: 400px 170px;
    gap: 50px;

}

.footer-top {
    display: flex;
    justify-content: space-between;
    position: relative;
}


.footer-title {
    cursor: pointer;
    font-size: 2rem;
    padding: 20px 30px 0;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    transition: .5s;
}


.footer-title:hover {
    background: -webkit-linear-gradient(16deg, yellow, green, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(.9);
z-index: 2;
}

.footer-title img {
    position: absolute;
    width:80px;
    height:70px;
    top: 0;
    z-index: -1;
}


.footer-top-left p {
    max-width: 400px;
    font-size: 1rem;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer-email-input {
    display: flex;
    gap: 20px;
    align-items: center;
    background: #32323b;
    border-radius: 40px;
    padding: 16px 20px;
    padding-right: 80px;
}


.footer-email-input input {
    background: transparent;
    font-size: 1rem;
    font-family: Outfit;
    color: #a0a0a0;
    border: none;
    outline: none;
    width: 15vw;
}


.footer-subscribe {
    font-size: 1rem;
    padding: 16px 20px;
    border-radius: 50px;
    font-weight: 500;
    background: linear-gradient(180deg, rgb(2, 132, 102), rgb(0, 149, 0));
    cursor: pointer;
    transition: all .3s ease;
}

.footer-subscribe:hover {
    transform: scale(.9);
    color: rgb(0, 219, 194);
}



.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-bottom: 40px;
}

.footer-bottom-right {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}


.footer-bottom-left {
    cursor: pointer;
}


.footer-bottom-right p {
    cursor: pointer;
}

.footer-email-input:hover {
    border: 2px solid white;
    transform: scale(.9);
    transition: .5s;
}


@media (max-width:768px) {

    .footer {
        align-items: start;
        margin: 50px 70px;
    }

    .footer-top {
        flex-direction: column;
        gap: 50px;
    }

    .footer-bottom {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        gap: 50px;
    }

    .footer-top-left p {
        max-width: 200px;
        font-size: 14px;
        line-height: 20px;
    }

    .footer-top-right {
        flex-direction: column;
        gap: 40px
    }


    .footer-subscribe {
        padding: 20px 30px;
        font-size: 16px;
    }



    hr {
        display: none;
    }




}